.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Quicksand;
  src: url(../src/Quicksand-VariableFont_wght.ttf);
}

.Quicksand{
  font-family: Quicksand;
}

@font-face {
  font-family: Bebas Neue;
  src: url(../src/BebasNeue-Regular.ttf);
}
.Bebas{
  font-family: Bebas Neue;
}
.Op{
  font-family: Bebas Neue;
}
ul {
  padding-left: 20px; /* เพื่อให้ย่อหน้าเว้นวรรคซ้ายของรายการ */
}

li {
  list-style-type: disc; /* เพื่อให้มีสัญลักษณ์ของรายการเป็นจุดกลม */
}

